<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wise2c Test Page</title>
	</head>
	<body>
		{{range .Pages}}<div>{{ .Title }}</div>
		<div>{{ .Item }}</div>
		{{else}}<div><strong>no rows</strong></div>{{end}}
	</body>
</html>